.background-image {
  background-color: white;
}

.navbar-font {
  font-family: "Oswald", sans-serif;
}

h2 {
  text-align: center;
   padding: 25px 50px 10px 50px;
}

p {
  text-align: center;
}
p {
  padding: 10px 20px 10px 50px;
}
p {
  font-size: 40px;
}
.h2-font {
  font-size: 100px;
}

.flex-container {
  display: flex;

  height: 2px;
  margin: 60px;
  justify-content: space-around;
  align-content: center;
}
.cell {
  padding: 10px;
  margin: 10px;

  background-color: white;
  border: 1px solid white;
  text-align: center;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  text-align: center;

  padding: 30px;
}
#navigation {
  float: right;
  margin-top: 0.5em;
  font: 20px/24px "futura-pt", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  font-style: normal;
  font-weight: 400;
}
#logo {
  float: left;
 display: block;
    float: left;
    height: 137px;
  width:150px;
  
    overflow: hidden;
    padding: 10px;
  
    
  
}
@media only screen and (max-width: 500px) {
  .flex-container{
    flex-direction:column;
    flex-flow:wrap;
   
    
   padding:300px 0 0 0;
   
  }
  .h2-font {
  font-size: 100px;
}
}

.clearfix {
    overflow: auto;
}
#intro-section{
  padding:200px;
  
}

footer{
  
  padding:500px 0px 20px 0px;;
  text-align:center;

  
}
footer h1{
font-size:15px;
}
